@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body
{
    background: linear-gradient(91deg, #5c346d  0%,#FFB94E 45%,#D24D57 85%, #585558 100% );
    
}
h1{
    font-family: 'Roboto Slab';
    text-align: center;
    font: weight 900px;
    margin-top: 20%;
}
.desc
{
    margin-top: -15px;
    letter-spacing: 12px;
    text-align: center;
    font-weight: 800;
}
.ali
{
    font-size: 50px;
    font-family: 'Akaya Kanadaka';
}
.respect
{
    margin-top: 18%;
    text-align: center;
    font-family: 'Caveat';
    font-weight: 900;
}
.names
{
    font-size: 25px;
}



